<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.AptitudeDictionaryMapper" >

    <select id="getAptitudeNameByMajorName" parameterType="String" resultType="String">
        SELECT aptitudeName
        FROM mishu.aptitude_dictionary
        WHERE majorName LIKE CONCAT(#{aptitudeName}, '%')
    </select>

    <select id="getAptitudeNameByMajorUuid" parameterType="String" resultType="String">
        SELECT aptitudeName
        FROM mishu.aptitude_dictionary
        WHERE majorUuid LIKE CONCAT(#{aptitudeUuid}, '%')
        LIMIT 1
    </select>
</mapper>