<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.SnatchUrlCertMapper" >
  <update id="updateSnatchurlCert" parameterType="Map">
    UPDATE mishu.snatch_url_cert SET contId = #{id} WHERE contId = #{historyId}
  </update>
</mapper>