<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.SnatchpressMapper" >
  <select id="getSnatchpress" parameterType="Integer" resultType="com.silita.biaodaa.model.Snatchpress">
    SELECT b.press FROM snatchpress b where b.snatchUrlId = #{id} limit 1
  </select>

  <select id="queryzh" resultType="Map">
    select `name`,mainUUid,rank from all_zh where rank !='' and finalUuid !='' and finalUuid is not null
  </select>

  <select id="queryAnalyzeRangeByField" parameterType="String" resultType="Map">
    select * from mishu_snatch.analyze_range where field=#{field}
  </select>

  <insert id="insertUnanalysis_aptitude" parameterType="Map">
    INSERT INTO mishulog.unanalysis_aptitude(snatchUrlId, aptitude, snatchContent) VALUES(#{snatchUrlId}, #{aptitude}, #{snatchContent})
  </insert>

  <select id="getAptitudeDictionary" parameterType="String" resultType="Map">
    SELECT MIN(id) id, majorName from mishu.aptitude_dictionary where majorUUid = #{uuid}
  </select>

  <insert id="insertSnatchUrlCert" parameterType="Map">
    INSERT INTO mishu.snatch_url_cert (contId,certificate,certificateUUid,type,licence)
    VALUES
    (#{contId},#{certificate},#{certificateUUid},#{type},#{licence})
  </insert>

  <select id="getBuildZhList" parameterType="Map" resultType="Map">
    SELECT `name`,mainUUid,rank FROM build_zh
  </select>

  <select id="getAptitudeDictionaryList" parameterType="String" resultType="String">
    SELECT `aptitudeName` FROM mishu.aptitude_dictionary WHERE majorUuid like CONCAT('%',#{uuid},'%')
  </select>

  <select id="getSnatchUrlCert" parameterType="String" resultType="Map">
    SELECT `certificate`, `certificateUuid` FROM mishu.snatch_url_cert WHERE contId = #{contId}
  </select>

  <insert id="insertSnatchUrlBuild" parameterType="Map">
    INSERT INTO snatch_url_build(contId,certificate,certificateUUid,licence) VALUES
    (#{contId},#{certificate},#{certificateUUid},#{licence})
  </insert>

  <select id="getBuildZh" parameterType="Map" resultType="String">
    select DISTINCT finalUUid from build_zh where mainUUid=#{muuid}
    <if test="rank == 21">
      and rank !=21
    </if>
    <if test="rank !=21">
      and rank = #{rank}
    </if>

  </select>



</mapper>