<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.ZhongbiaoAnalyzeDetailMapper">
    <insert id="insertZhongBiaoAnalyzeDetail" parameterType="com.snatch.model.AnalyzeDetailZhongBiao">
        INSERT INTO
        mishu.zhongbiao_analyze_detail(
          `redisId`, `noticeUrl`, `title`, `gsDate`, `province`,
          `city`, `county`, `projSum`, `projDq`, `projXs`,
          `pbMode`, `projType`, `oneName`, `oneUUid`, `oneOffer`,
          `oneProjDuty`, `oneProjDutyUuid`, `oneSkillDuty`, `oneSgy`, `oneAqy`,
          `oneZly`, `twoName`, `twoOffer`, `twoProjDuty`, `twoSkillDuty`,
          `twoSgy`, `twoAqy`, `twoZly`, `threeName`, `threeOffer`,
          `threeProjDuty`, `threeSkillDuty`, `threeSgy`, `threeAqy`, `threeZly`,
          `projectTimeLimit`, `projectCompletionDate`, `block`, `analyzeDate`
        )
        VALUES(
          #{redisId}, #{noticeUrl}, #{title}, #{gsDate}, #{province},
          #{city}, #{county}, #{projSum}, #{projDq}, #{projXs},
          #{pbMode}, #{projType}, #{oneName}, #{oneUUid}, #{oneOffer},
          #{oneProjDuty}, #{oneProjDutyUuid}, #{oneSkillDuty}, #{oneSgy}, #{oneAqy},
          #{oneZly}, #{twoName}, #{twoOffer}, #{twoProjDuty}, #{twoSkillDuty},
          #{twoSgy}, #{twoAqy}, #{twoZly}, #{threeName}, #{threeOffer},
          #{threeProjDuty}, #{threeSkillDuty}, #{threeSgy}, #{threeAqy}, #{threeZly},
          #{projectTimeLimit}, #{projectCompletionDate}, #{block}, #{analyzeDate}
        )
    </insert>

    <select id="getZhongBiaoAnalyzeDetailByUrl" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM FROM mishu.zhongbiao_analyze_detail WHERE noticeUrl = #{noticeUrl}
    </select>
</mapper>